<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>员工管理</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <script src="__JS__/jquery.min.js"></script>
    <link rel="stylesheet" href="__STATIC__/layui/css/layui.css" media="all" />
    <link rel="stylesheet" href="__STATIC__/css/font_eolqem241z66flxr.css" media="all" />
    <script type="text/javascript" src="__JS__/vue.min.js"></script>
    <style type="text/css">
        .layui-table td, .layui-table th{ text-align: center; }
        .layui-table td{ padding:5px; }
    </style>
</head>
<body class="childrenBody">

<div id="myapp">
    <input class="layui-btn layui-btn-primary" value="创建员工" type="button" style="margin: 15px" v-show="showCreatBtn" @click="showBox">
    <input class="layui-btn layui-btn-primary" value="返回" type="button" style="margin: 15px" v-show="backBtn" @click="hideBox">
    <div v-show="showCreatBox">
        <form class="layui-form" action="{:url('platformmanage/staff/addStaff')}" method="post">
            <div class="user_left">
                <div class="layui-form-item">
                    <label class="layui-form-label" >登录名</label>
                    <div class="layui-input-block">
                        <input type="text" name="user_uid" pattern="^[a-zA-Z0-9_\u4e00-\u9fa5\\s·]+$" oninvalid="setCustomValidity('不能含有特殊字符'); " required="" oninput="setCustomValidity('')"  lay-verify="required" maxlength="12" class="layui-input ">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">员工名字</label>
                    <div class="layui-input-block">
                        <input type="text" name="user_name" maxlength="6" lay-verify="required" class="layui-input ">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">用户组</label>
                    <div class="layui-input-block">
                        <select  name="roleID"  class="layui-select" >
                                {volist name="role" id="vo"}
                            <option value="{$vo.id}">
                                {$vo.roleName}
                            </option>
                                {/volist}
                        </select>
                    </div>
                </div>
            </div>
                <div class="layui-form-item" style="margin-left: 5%;">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit="" lay-filter="changeUser">立即提交</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </form>
        <div class="layui-container">
            提示：员工默认密码为123456，拿到员工账号请立即更改密码
        </div>
    </div>

    <div v-show="showIndex">
        <table id="demo" lay-filter="staff" ></table>
    </div>
</div>


</body>
<script src="__STATIC__/layui/layui.js"></script>

<script>

    layui.use('table', function(){
        var table = layui.table;
        //第一个实例
        table.render({
            elem: '#demo'
            ,height: 315
            ,url: '{:url("platformmanage/Staff/staffData")}' //数据接口
            ,page: true //开启分页
            ,cols: [[ //表头
                {field: 'user_id', title: '用户ID', width:80, fixed: 'left', sort: true}
                ,{field: 'user_uid', title: '登录名', width:180, fixed: 'left'}
                ,{field: 'user_name', title: '用户名', width:180}
                ,{field: 'roleName', title: '用户组', width:180}
                ,{field: 'userState', title: '用户状态', width:180,toolbar:'#barState'}
                ,{field: 'oper', title: '操作', width:180,toolbar:'#barOper'}
            ]]
        });
        //监听工具条
        table.on('tool(staff)', function(obj){ //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"

            var data = obj.data; //获得当前行数据
            var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
            var tr = obj.tr; //获得当前行 tr 的DOM对象
            if(layEvent === 'info'){ //查看
                layer.alert('');
                //do somehing
            } else if(layEvent === 'lock'){ //锁定用户

                layer.confirm('确定锁定该员工吗', function(index){
                    $.post("{:url('platformmanage/Staff/lock')}",{"id":obj.data.user_id,"userState":"F"},function (res) {
                        var msg=JSON.parse(res);
                        if(msg.code==10000){
                            layer.alert('操作成功');
                        }else {
                            layer.alert('操作失败');
                        }
                        table.reload('demo', {
                            url: '{:url("platformmanage/Staff/staffData")}'
                            ,where: {} //设定异步数据接口的额外参数
                            //,height: 300
                        });
                    });
                    layer.close(index);
                });
            } else if(layEvent === 'unlock'){ //解锁员工
                layer.confirm('确定解锁该员工吗', function(index){
                    $.post("{:url('platformmanage/Staff/lock')}",{"id":obj.data.user_id,"userState":"T"},function (res) {
                        var msg=JSON.parse(res);
                        if(msg.code==10000){
                            layer.alert('操作成功');
                        }else {
                            layer.alert('操作失败');
                        }
                        table.reload('demo', {
                            url: '{:url("platformmanage/Staff/staffData")}'
                            ,where: {} //设定异步数据接口的额外参数
                            //,height: 300
                        });
                    });
                    layer.close(index);
                });
            }else if(layEvent === 'del'){ //删除员工
                layer.confirm('确定删除该员工吗', function(index){
                    $.post("{:url('platformmanage/Staff/delStaff')}",{"id":obj.data.user_id},function (res) {
                        var msg=JSON.parse(res);
                        if(msg.code==10000){
                            layer.alert('操作成功');
                        }else {
                            layer.alert('操作失败');
                        }
                        table.reload('demo', {
                            url: '{:url("platformmanage/Staff/staffData")}'
                            ,where: {} //设定异步数据接口的额外参数
                            //,height: 300
                        });
                    });
                    layer.close(index);
                });
            }
        });

    });
    //上传图片URL

</script>
<script type="text/html" id="barState">
    {{#  if(d.userState =='T'){ }}
    <span>使用</span>
    {{#  } else {}}
    <span>锁定</span>
    {{#  } }}
</script>
<script type="text/html" id="barOper">
    {{#  if(d.userState =='T'&& d.user_id !='1'){ }}
    <a class="layui-btn layui-btn-xs" lay-event="lock">锁定</a>
    {{#  } else if(d.userState =='F') { }}
    <a class="layui-btn layui-btn-xs" lay-event="unlock">解锁</a>
    {{#  } else {}}
    {{#  } }}
    {{#  if(d.user_id !='1'){ }}
        <a class="layui-btn layui-btn-xs" lay-event="del">删除员工</a>
    {{#  } }}
</script>
<script type="text/javascript" src="__JS__/addStaff.js"></script>

</html>
