<!DOCTYPE HTML>
<html>
	<head>
		<title>去野 身临其境方知奥妙·遊記</title>
		<!--网页图标-->
		<link rel="shortcut icon" href="__STATIC__/images/logo.ico" type="image/x-icon"/>
		<link href="__CSS__/bootstrap.css" rel='stylesheet' type='text/css' />
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="__JS__/jquery.min.js"></script>
		 <!-- Custom Theme files -->
		<link href="__CSS__/style.css" rel='stylesheet' type='text/css' />
   		 <!-- Custom Theme files -->
   		 <!---- start-smoth-scrolling---->
		<script type="text/javascript" src="__JS__/move-top.js"></script>
		<script type="text/javascript" src="__JS__/easing.js"></script>
		<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});
		</script>
		 <!---- start-smoth-scrolling---->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
		<!----start-top-nav-script---->
		<script>
			$(function() {
				var pull 		= $('#pull');
					menu 		= $('nav ul');
					menuHeight	= menu.height();
				$(pull).on('click', function(e) {
					e.preventDefault();
					menu.slideToggle();
				});
				$(window).resize(function(){
	        		var w = $(window).width();
	        		if(w > 320 && menu.is(':hidden')) {
	        			menu.removeAttr('style');
	        		}
	    		});
			});
		</script>
		<!----//End-top-nav-script---->
	</head>
	<body>
		<!----- start-header---->
		<div id="home" class="header">
			<div class="top-header">
				<div class="container">
					<div class="logo">
						<a href="index.html"><span>去野</span>Journey<span>...</span></a>
					</div>
					<!----start-top-nav---->
					<nav class="top-nav">
						<ul class="top-nav">
							<li class="active"><a href="{:url('index/index/index')}">首页home</a></li>
							<li><a href="menu.html">目的地locations</a></li>
							<li><a href="{:url('story/story/story')}">遊記notes</a></li>
							<li><a href="news.html"> 登录</a></li>
							<li><a href="reviews.html">注册</a></li>
						</ul>
						<a href="#" id="pull"><img src="__STATIC__/images/nav-icon.png" title="menu" /></a>
					</nav>
					<div class="clearfix"> </div>
				</div>
			</div>
		</div>
			<!----- //End-header---->
			<!----- menu-page ----->
			<div class="news">
				<!------ menu-header ----->
				<div class="news-header">
					<div class="container">
						<h1><span>Travel</span> Notes</h1>
					</div>
				</div>
				<!------ menuheader ----->
			<div class="clearfix"> </div>
			<!----- reservation ---->
			<div class="News-page">
				<div class="container">
					<h2><span> </span>&nbsp;&nbsp;&nbsp;&nbsp;遊記Notes &nbsp;<span> </span></h2>
					<p>Travel Latest-Notes </p>
					<a href="{:url('story/publish/publish')}" class="news-btn" href="#"><i></i>写遊記</a>
					<!----- recent-news ----->
					<div class="recent-news">
						<div class="recent-news-grid" style="cursor:pointer" onclick="window.open('{:url(\'story/storydetail/storydetail\')}')">
							<div class="recent-news-grid-left">
								<a href="{:url('story/storydetail/storydetail')}"><img src="__STATIC__/images/d1.jpg" title="name" /></a>
							</div>
							<div class="recent-news-grid-right">
								<h2>南京聚宝山走一遭，便是一个春天了。</h2>
								<p>要说南京这座城市，虽然没有那么四季分明，但一年四季都有它独特的样子，自然我最爱的还是春天。</p>
								<p>春天是相机最忙的季节，三月中旬的时候南京便成了花的海洋。南京最出名的赏花地莫过于鸡鸣寺的樱花大道，明孝陵的梅花山或者是南理工的二月兰，但每个地方在晴好的周末都会被汹涌的人流包围，那阵势俨然成了“花赏人”。</p>
								<p></p>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="recent-news-grid">
							<div class="recent-news-grid-left">
								<a href="#"><img src="__STATIC__/images/d2.jpg" title="name" /></a>
							</div>
							<div class="recent-news-grid-right">
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque aliquam at lectus sed imperdiet. Vestibulum scelerisque fermentum lorem vitae condimentum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed ultricies dapibus nibh, in vehicula tortor aliquam id. Nunc id laoreet sem, ac bibendum lectus.</p>
								<p>Cras hendrerit lectus non enim vulputate, eget ornare lectus tincidunt. Quisque at est cursus lectus aliquet sagittis sed id lacus. Vivamus eu adipiscing enim</p>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="recent-news-grid">
							<div class="recent-news-grid-left">
								<a href="#"><img src="__STATIC__/images/d3.jpg" title="name" /></a>
							</div>
							<div class="recent-news-grid-right">
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque aliquam at lectus sed imperdiet. Vestibulum scelerisque fermentum lorem vitae condimentum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed ultricies dapibus nibh, in vehicula tortor aliquam id. Nunc id laoreet sem, ac bibendum lectus.</p>
								<p>Cras hendrerit lectus non enim vulputate, eget ornare lectus tincidunt. Quisque at est cursus lectus aliquet sagittis sed id lacus. Vivamus eu adipiscing enim</p>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="clearfix"> </div>
						<a class="news-btn" href="#">View all News</a>
					</div>
					<!----- recent-news ----->
				</div>
			<!----- fearuted-diesh ----->
			<div class="fearuted-diesh">
				<div class="container">
					<h3>Featured Locations<span> </span></h3>
					<!----sreen-gallery-cursual---->
						<div class="sreen-gallery-cursual">
							 <!-- requried-jsfiles-for owl -->
							<link href="__CSS__/owl.carousel.css" rel="stylesheet">
							    <script src="__JS__/owl.carousel.js"></script>
							        <script>
							    $(document).ready(function() {
							      $("#owl-demo").owlCarousel({
							         items :4,
							        lazyLoad : true,
							        autoPlay : true,
							        navigation : false,
							        navigationText :  false,
							        pagination : true,
							      });
							    });
							    </script>
							 <!-- //requried-jsfiles-for owl -->
							 <!-- start content_slider -->
						       <div id="owl-demo" class="owl-carousel">
					                <div class="item">
					                	<div class="item-grid">
					                		<div class="item-pic">
					                			<img src="__STATIC__/images/d1.jpg" title="dish-name" />
					                		</div>
					                		<div class="item-info">
					                			<div class="item-info-left">
					                				<h4>Fugiat nulla sint</h4>
					                				<span class="item-rate"> </span>
					                			</div>
					                			<div class="item-info-right">
					                				<label>$130</label>
					                			</div>
					                			<div class="clearfix"> </div>
					                		</div>
					                	</div>
					                </div>
					                <!----->
					                <div class="item">
					                	<div class="item-grid">
					                		<div class="item-pic">
					                			<img src="__STATIC__/images/d2.jpg" title="dish-name" />
					                		</div>
					                		<div class="item-info">
					                			<div class="item-info-left">
					                				<h4>Daute irure dolor</h4>
					                				<span class="item-rate"> </span>
					                			</div>
					                			<div class="item-info-right">
					                				<label>$124</label>
					                			</div>
					                			<div class="clearfix"> </div>
					                		</div>
					                	</div>
					                </div>
					                <!----->
					                <div class="item">
					                	<div class="item-grid">
					                		<div class="item-pic">
					                			<img src="__STATIC__/images/d3.jpg" title="dish-name" />
					                		</div>
					                		<div class="item-info">
					                			<div class="item-info-left">
					                				<h4>Officia deserunt mollit</h4>
					                				<span class="item-rate"> </span>
					                			</div>
					                			<div class="item-info-right">
					                				<label>$160</label>
					                			</div>
					                			<div class="clearfix"> </div>
					                		</div>
					                	</div>
					                </div>
					                <!----->
					                <div class="item">
					                	<div class="item-grid">
					                		<div class="item-pic">
					                			<img src="__STATIC__/images/d4.jpg" title="dish-name" />
					                		</div>
					                		<div class="item-info">
					                			<div class="item-info-left">
					                				<h4>Pim minim veniam</h4>
					                				<span class="item-rate"> </span>
					                			</div>
					                			<div class="item-info-right">
					                				<label>$117</label>
					                			</div>
					                			<div class="clearfix"> </div>
					                		</div>
					                	</div>
					                </div>
					                <!----->
					                <div class="item">
					                	<div class="item-grid">
					                		<div class="item-pic">
					                			<img src="__STATIC__/images/d1.jpg" title="dish-name" />
					                		</div>
					                		<div class="item-info">
					                			<div class="item-info-left">
					                				<h4>Fugiat nulla sint</h4>
					                				<span class="item-rate"> </span>
					                			</div>
					                			<div class="item-info-right">
					                				<label>$130</label>
					                			</div>
					                			<div class="clearfix"> </div>
					                		</div>
					                	</div>
					                </div>
					                <!----->
					                <div class="item">
					                	<div class="item-grid">
					                		<div class="item-pic">
					                			<img src="__STATIC__/images/d2.jpg" title="dish-name" />
					                		</div>
					                		<div class="item-info">
					                			<div class="item-info-left">
					                				<h4>Daute irure dolor</h4>
					                				<span class="item-rate"> </span>
					                			</div>
					                			<div class="item-info-right">
					                				<label>$124</label>
					                			</div>
					                			<div class="clearfix"> </div>
					                		</div>
					                	</div>
					                </div>
					                <!----->
					                <div class="item">
					                	<div class="item-grid">
					                		<div class="item-pic">
					                			<img src="__STATIC__/images/d3.jpg" title="dish-name" />
					                		</div>
					                		<div class="item-info">
					                			<div class="item-info-left">
					                				<h4>Officia deserunt mollit</h4>
					                				<span class="item-rate"> </span>
					                			</div>
					                			<div class="item-info-right">
					                				<label>$160</label>
					                			</div>
					                			<div class="clearfix"> </div>
					                		</div>
					                	</div>
					                </div>
					                <!----->
					                <div class="item">
					                	<div class="item-grid">
					                		<div class="item-pic">
					                			<img src="__STATIC__/images/d4.jpg" title="dish-name" />
					                		</div>
					                		<div class="item-info">
					                			<div class="item-info-left">
					                				<h4>Pim minim veniam</h4>
					                				<span class="item-rate"> </span>
					                			</div>
					                			<div class="item-info-right">
					                				<label>$117</label>
					                			</div>
					                			<div class="clearfix"> </div>
					                		</div>
					                	</div>
					                </div>
					                <!----->
				              </div>
						<!--//sreen-gallery-cursual---->
				</div>
			</div>
			</div>
			</div>
			</div>
			<!----- fearuted-diesh ----->
			<!----- End-Menu-page ----->
			<!----- footer ----->
			<div class="footer">
				<div class="container">
					<div class="footer-grids">
						<div class="col-md-3 footer-grid">
							<p>
								<span>关于我们</span>
								<span>关于去野</span>
								<span><a class="line" href="{:url('store/Application/storeEnter')}">商家入驻</a></span>
								<span>联系我们</span>
							</p>
						</div>
						<div class="col-md-3 footer-grid">
							<p>
								<span>China tourister</span>
								<span>68, rue  de la Couronne</span>
								<span>75002 PARIS</span>
								<span>718-749-1714</span>
							</p>
						</div>
						<div class="col-md-3 footer-grid">
							<ul>
								<span>友情链接</span>
								<li><a href="https://zh.airbnb.com">Airbnb爱彼迎</a></li>
								<li><a href="http://www.booking.com">缤客</a></li>
								<li><a href="http://www.mafengwo.cn/">马蜂窝</a></li>
							</ul>
						</div>
						<div class="col-md-3 footer-grid copy-right">
							<p>Copyright &copy; 2018.去野All rights reserved.</p>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
			</div>
			<!----- footer ----->
	
</body>
	<script type="text/javascript">
		var storydetailUrl="{:url('story/storydetail/storydetail')}";
	</script>
    <script src="__JS__/story/story.js" type="text/javascript"></script>
</html>

