<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>广告管理</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="__STATIC__/layui/css/layui.css" media="all" />
    <link rel="stylesheet" href="__CSS__/bootstrap.min.css" media="all" />
    <link rel="stylesheet" href="__STATIC__/css/font_eolqem241z66flxr.css" media="all" />
    <link rel="stylesheet" href="__STATIC__/css/backstage/advert.css" media="all" />
    <style type="text/css">
        .layui-table td, .layui-table th{ text-align: center; }
        .layui-table td{ padding:5px; }
    </style>
</head>
<body class="childrenBody">
<div  id="advert" >
    <form method="post" action="{:url('platformmanage/Advert/index')}" >
        <blockquote class="layui-elem-quote news_search">
            <div class="layui-inline">
                <div class="layui-input-inline">
                    <input type="text" value="" placeholder="请输入关键字" name="seartch_advert" class="layui-input search_input">
                </div>
                <button type="submit" class="layui-btn search_btn">查询</button>
            </div>
            <div class="layui-inline"  id="putStateExamine">
                <a class="layui-btn linksAdd_btn" style="background-color:#5FB878">
                    <cite>{{all_advert}}</cite>
                </a>
                <dl class="layui-nav-child">
                    <dd @click="setSeartch(event)" ><a href="javascript:;" class="btn " setState="up" ><i class="iconfont icon-zhanghu" data-icon="icon-zhanghu" setState="up" ></i><cite setState="up" >上架</cite></a></dd>
                    <dd @click="setSeartch(event)" ><a href="javascript:;" class="btn btn-link" setState="down" ><i class="iconfont icon-shezhi1" data-icon="icon-shezhi1" setState="down" ></i><cite setState="down" >下架</cite></a></dd>
                    <dd @click="setSeartch(event)" ><a href="javascript:;" class="btn btn-link" setState="none" ><i class="iconfont icon-loginout" setState="none" ></i><cite setState="none" >未审核</cite></a></dd>
                    <dd @click="setSeartch(event)" ><a href="javascript:;" class="btn btn-link" setState="all" ><i class="iconfont icon-loginout" setState="all" ></i><cite setState="all" >全部</cite></a></dd>
                </dl>
            </div>
            <div class="layui-inline">
                <div class="layui-form-mid layui-word-aux"></div>
            </div>
        </blockquote>
    </form>
    <div class="layui-form links_list">
        <table class="layui-table">
            <colgroup>
                <col width="50">
                <col width="30%">
                <col>
                <col>
                <col>
                <col>
                <col>
                <col width="13%">
            </colgroup>
            <thead>
            <tr>
                <th><input type="checkbox" name="" lay-skin="primary" lay-filter="allChoose" id="allChoose"></th>
                <th style="text-align:left;">广告名称</th>
                <th>广告商</th>
                <th>广告详情</th>
                <th>审核状态</th>
                <th colspan="3">操作</th>
            </tr>


            </thead>
            <tbody class="links_content">
                {volist name='list' id='user'}
                <tr>
                    <th><input type="checkbox" name="" lay-skin="primary" lay-filter="allChoose" id="allChoose"></th>
                    <th style="text-align:left;">{$user.store_adv_name}</th>
                    <th>{$user.store_name}</th>
                    <th>
                        <div class="layui-btn-container">
                            <button class="layui-btn"  @click="seeAdvert(event)" set_adv_id="{$user.store_adv_id}" >查看</button>
                        </div>
                    </th>
                    <th>{$user.advert_state}</th>
                    <th>
                        <div class="layui-hide layui-show-md-block">
                            <button class="layui-btn" set_adv_id="{$user.store_adv_id}" setClass="pass" @click="examineAdv(event)" >审核通过</button>
                            <button class="layui-btn" set_adv_id="{$user.store_adv_id}" setClass="locking"  @click="examineAdv(event)" >锁定</button>
                            <button class="layui-btn" set_adv_id="{$user.store_adv_id}" setClass="unlock"  @click="examineAdv(event)" >解锁</button>
                        </div>
                        <div class=" layui-hide-md ">
                            <ul class="layui-nav layui-nav-tree" lay-filter="test">
                                <!-- 侧边导航: <ul class="layui-nav layui-nav-tree layui-nav-side"> -->
                                <li class="layui-nav-item">
                                    <a href="javascript:;">操作</a>
                                    <dl class="layui-nav-child">
                                        <dd><a href="" set_adv_id="{$user.store_adv_id}" setClass="pass" @click="examineAdv(event)" >审核通过</a></dd>
                                        <dd><a href="" set_adv_id="{$user.store_adv_id}" setClass="locking"  @click="examineAdv(event)" >锁定</a></dd>
                                        <dd><a href="" set_adv_id="{$user.store_adv_id}" setClass="unlock"  @click="examineAdv(event)" >解锁</a></dd>
                                    </dl>
                                </li>
                            </ul>
                        </div>
                    </th>
                </tr>
                {/volist}
            </tbody>
        </table>
    </div>
    <div id="page">
        {$list->render()}
    </div>

    <!--等待提示-->
    <div class="msgLoading" v-show="seeLoading" >
        <i class="layui-icon layui-anim layui-anim-rotate layui-anim-loop" style="font-size: 130px; color: #1E9FFF;">
            &#xe63d;
        </i>
    </div>


    <!--查看广告详情-->
    <div  class="layui-form advertCon " v-show="advert_show"  >
        <div class="close_advert pull-right">
            <i class="layui-icon close_icon" @click="advert_show = false" >&#x1007;</i>
        </div>
        <h1 class="text_center"> {{advert_name}} </h1>
        <div class="layui-form-item">
            <label class="layui-form-label">广告名</label>
            <div class="layui-input-block">
                <div class="layui-form-mid layui-word-aux">{{advert_name}}</div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">发布商</label>
            <div class="layui-input-block">
                <div class="layui-form-mid layui-word-aux">{{advert_store}}</div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">链接</label>
            <div class="layui-input-block">
                <div class="layui-form-mid layui-word-aux">{{advert_link}}</div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">图片</label>
            <div class="layui-input-block ">
                <img :src="advert_pic_url" class="advert_pic" />
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn layui-btn-primary layui-btn-lg"  @click="advert_show = false"  >确认</button>
            </div>
        </div>
    </div>

</div>


</body>
<script src="__STATIC__/layui/layui.js"></script>
<script>
    layui.use('element', function(){
        var element = layui.element;

        //…
    });
</script>
<script type="text/javascript" src="__JS__/vue.min.js"></script>
<script type="text/javascript" src="__JS__/jquery.min.js"></script>
<script>
    var url = "{:url('platformmanage/index/main')}" ;
    // 广告的请求
    var advertSetDataUrl = "{:url('platformmanage/Advert/setExamine')}" ;
    // 更换广告
    var replace_advert_url = "{:url('platformmanage/Advert/replaceAdvert')}" ;
    // 设置搜索条件
    var set_search_url = "{:url('platformmanage/Advert/searchCondition')}" ;
    // 获取显示的条件
    var set_see_searct = "{:url('platformmanage/Advert/setSeeSearct')}" ;

</script>
<script type="text/javascript" src="__JS__/backstage/advert.js"></script>
</html>