<!DOCTYPE HTML>
<html>
	<head>
		<title>登录</title>
		<link href="__CSS__/bootstrap.css" rel='stylesheet' type='text/css' />
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="__JS__/jquery.min.js"></script>
		 <!-- Custom Theme files -->
		<link href="__CSS__/style.css" rel='stylesheet' type='text/css' />
		<style type="text/css">
			.flex-center{
				display:flex ;
			}
			.empty{
				height: 20px ;
			}
			.btn-modal{
				background-color:rgba(0,0,0,0.5) !important;
				width:30% !important;
				color:#ffffff !important;
			}
			.make-reserve input[type="button"] {
				background: #3b3b3b;
				color: #FFF;
				padding: 1em 1.5em;
				display: inline-block;
				border: none;
				transition: 0.5s all;
				-webkit-transition: 0.5s all;
				-moz-transition: 0.5s all;
				-ms-transition: 0.5s all;
				margin-top: 1.5em;
			}
			.make-reserve input[type="button"]:hover{
				background:#DDD177;
			}
		</style>
   		 <!-- Custom Theme files -->
   		 <!---- start-smoth-scrolling---->
		<script type="text/javascript" src="__JS__/move-top.js"></script>
		<script type="text/javascript" src="__JS__/easing.js"></script>
		<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});
		</script>
		 <!---- start-smoth-scrolling---->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

		<!----start-top-nav-script---->
		<script>
			$(function() {
				var pull 		= $('#pull');
					menu 		= $('nav ul');
					menuHeight	= menu.height();
				$(pull).on('click', function(e) {
					e.preventDefault();
					menu.slideToggle();
				});
				$(window).resize(function(){
	        		var w = $(window).width();
	        		if(w > 320 && menu.is(':hidden')) {
	        			menu.removeAttr('style');
	        		}
	    		});
			});
		</script>
		<!----//End-top-nav-script---->
	</head>
	<body>
	<div id="myApp">
		<div>
			<!----- start-header---->
			<div id="home" class="header">
				<div class="top-header">
					<div class="container">
						<div class="logo">
							<a href="index.html"><span>T</span>ourister<span>...</span></a>
						</div>
						<!----start-top-nav---->
						<nav class="top-nav" id="login-register">
							<ul class="top-nav">
								<li><a href="index.html">Our Story</a></li>
								<li><a href="menu.html">Menu</a></li>
								<li class="active"><a href="reservation.html">Reservations</a></li>
								<li><user-login></user-login></li>
								<li><user-register></user-register></li>
							</ul>
							<a href="#" id="pull"><img src="__STATIC__/images/nav-icon.png" title="menu" /></a>
						</nav>
						<div class="clearfix"> </div>
					</div>
				</div>
			</div>
			<!----- //End-header---->
			<!----- menu-page ----->
			<div class="reservation">
				<!------ menu-header ----->
				<div class="reservation-header">
					<div class="container">
						<h1><span>Tourister</span> Reservation</h1>
					</div>
				</div>
				<!------ menuheader ----->
				<div class="clearfix"> </div>
				<div class="empty"></div>
				<!----- reservation ---->
				<div class="container">
					<div class="col-sm-1"></div>
					<div class="col-sm-5">
						<div class="reservation-form">
							<!----- make-Reserver ------>
							<div class="make-reserve">
								<ul id="myTab" class="nav nav-tabs" >
									<li class="active" >
										<a href="#user" data-toggle="tab">用户</a>
									</li>
									<li>
										<a href="#stroe" data-toggle="tab" >店家</a>
									</li>
								</ul>
								<div id="myTabContent" class="tab-content" >

									<div class="tab-pane fade in active" id="user">
										<div class="container">
											<!------ reserv-form ----->
											<div class="reserv-form">
												<form>
													<div class="clearfix"> </div>
													<div class="i-name">
														<div class="i-name-left">
															<span>用户名</span>
															<input type="text" placeholder="请输入用户名" id="login_user" maxlength="20" value="test"  />
														</div>
													</div>
													<div class="clearfix"> </div>
													<div class="i-name">
														<div class="i-name-left">
															<span>密码</span>
															<input type="password"  placeholder="请输入密码" id="login_pwd" maxlength="32" value="123456" />
														</div>
													</div>
													<div class="clearfix"> </div>
													<!----->
													<div class="i-name">
														<div class="i-name-left">
															<span>验证码</span>
															<input type="text" placeholder="请输入验证码" id="login_code" maxlength="4" />
														</div>
													</div>
													<div class="clearfix"> </div>
													<div class="empty"></div>
													<div class="i-name">
														<div class="i-name-left">
															<img src="{:captcha_src()}" alt="captcha" @click="setCaptcha(event)" />
														</div>
													</div>
													<div class="clearfix"> </div>
													<!----->
													<div class="i-textarea">
													</div>
													<input type="button"  @click="login()" value="登录" />
												</form>
											</div>
											<!------ reserv-form ----->
										</div>
									</div>
									<div class="tab-pane fade" id="stroe">
										<div class="container">
											<!------ reserv-form ----->

											<div class="reserv-form">
												<form>
													<div class="clearfix"> </div>
													<div class="i-name">
														<div class="i-name-left">
															<span>手机号码</span>
														</div>
													</div>
													<div class="clearfix"> </div>
													<div class="i-name">
														<div class="i-name-left" style="margin-right:0 ;" >
															<input type="text" placeholder="请输入手机号码" id="register_name" onkeypress="return event.keyCode>=48&&event.keyCode<=57" ng-pattern="/[^a-zA-Z]/" maxlength="11" />
														</div>
														<div class="i-name-left" style="margin-left:10px ;position:relative ;" >
															<button type="button" class="btn btn-default" v-show="shortShow"  @click="getPhoneMsg()" >{{shortMsg}}</button>
															<div class=" btn btn-default btn-modal" v-show="!shortShow" >{{shortMsg}}</div>
														</div>
													</div>

													<!--<div class="i-name-left">-->
														<!--<button type="button" class="btn btn-default" @click="getPhone()" >{{shortMsg}}</button>-->
													<!--</div>-->

													<div class="clearfix"> </div>
													<!----->
													<div class="empty"></div>
													<div class="i-name">
														<div class="i-name-left">
															<input type="text" placeholder="请输入短信验证码" id="register_code"  />
														</div>
													</div>
													<div class="i-name">
														<div class="i-name-left">

														</div>
													</div>
													<!----->
													<div class="clearfix"> </div>
													<div class="i-textarea">
													</div>
													<input type="button" @click="phoneLogin()" value="登录" />
												</form>
											</div>
											<!------ reserv-form ----->
										</div>
									</div>
								</div>
							</div>
							<!----- make-Reserver ------>
						</div>
					</div>
					<div class="col-sm-1"></div>
					<div class="col-sm-5">
						<!--<a href="#" title="携程旅游" >-->
						<!--<img class="img-responsive" src="./images/g1.jpg" />-->
						<!--</a>-->
						<div id="myCarousel" class="carousel slide">
							<!-- Carousel items -->
							<div class="carousel-inner">
								<div class="active item">
									<a href="#" >
										<img src="__STATIC__/images/g1.jpg" title="携程旅游" />
									</a>
								</div>
								<div class=" item">
									<a href="#" >
										<img src="__STATIC__/images/g2.jpg" title="携程旅游" />
									</a>
								</div>
								<div class=" item">
									<a href="#" >
										<img src="__STATIC__/images/g3.jpg" title="携程旅游" />
									</a>
								</div>
							</div>

						</div>
					</div>
				</div>

			</div>



			<!----- fearuted-diesh ----->
			<!----- End-Menu-page ----->
			<!----- footer ----->
			<div class="footer">
				<div class="container">
					<div class="footer-grids">
						<div class="col-md-3 footer-grid">
							<p>
								<span>关于我们</span>
								<span>关于去野</span>
								<span><a class="line" href="{:url('store/Application/storeEnter')}">商家入驻</a></span>
								<span>联系我们</span>
							</p>
						</div>
						<div class="col-md-3 footer-grid">
							<p>
								<span>China tourister</span>
								<span>68, rue  de la Couronne</span>
								<span>75002 PARIS</span>
								<span>718-749-1714</span>
							</p>
						</div>
						<div class="col-md-3 footer-grid">
							<ul>
								<span>友情链接</span>
								<li><a href="https://zh.airbnb.com">Airbnb爱彼迎</a></li>
								<li><a href="http://www.booking.com">缤客</a></li>
								<li><a href="http://www.mafengwo.cn/">马蜂窝</a></li>
							</ul>
						</div>
						<div class="col-md-3 footer-grid copy-right">
							<p>Copyright &copy; 2018.去野All rights reserved.</p>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
			</div>
			<!----- footer ----->
		</div>
		<!-- 登录模态框 -->
		<div class="modal fade" id="loginMsgModel" data-backdrop="static"  >
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="btn btn-default close" data-dismiss="modal" >
							<span class="glyphicon">×</span>
						</button>
						{{Msg_head}}
					</div>
					<div class="modal-body">
						{{Msg_body}}
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal" >退出</button>
						<a :href="Msg_footer_link" class="btn btn-default" >{{Msg_footer}}</a>
					</div>
				</div>
			</div>
		</div>
		<!--end 登录模态框 -->
	</div>



	
</body>
	<script type="text/javascript" src="__JS__/bootstrap.min.js"></script>
	<script type="text/javascript" src="__JS__/vue.min.js"></script>
	<script>
		/*
		修改验证码的url
		 */
		var $code_url_1 = "{:captcha_src()}?="+Math.random() ;
		/*
		 发送短信验证码给用户的url
		 */
		var $code_user_url_1 = "{:url('user/Login/getPhoneMsgUser')}" ;
		/*
		 用户登录的url
		 */
		var $user_login_url_1 = "{:url('user/Login/login')}" ;
		/*
		 店家手机登录的url
		 */
		var $user_login_phone_url_1 = "{:url('user/Login/phoneLogin')}" ;


	    /*
		 个人中心的url
	     */
		var $user_person_url = "{:url('user/Person/index')}" ;
		/*
		登录页面的url
		 */
		var $login_jump = "{:url('user/Login/index')}" ;
		/*
		注册页面的url
		 */
    	var $register_jump = "{:url('user/Register/index')}" ;
		/*
		是否已登录
		 */
		var $user_login_already = "{:url('user/Login/userLoginAlready')}" ;

	</script>
	<script type="text/javascript" src="__JS__/user/user_login_page.js"></script>
	<script type="text/javascript" src="__JS__/user/user_login.js"></script>
</html>

