<!DOCTYPE HTML>
<html>
<head>
    <title>目的地详情页</title>
    <link href="__CSS__/bootstrap.min.css" rel='stylesheet' type='text/css' />

    <!-- Custom Theme files -->
    <link href="__CSS__/style.css" rel='stylesheet' type='text/css' />
</head>
<body>
<!----- start-header---->
<div id="home" class="header">
    <div class="top-header">
        <div class="container">
            <div class="logo">
                <a href="index.html"><span>去野</span>Journey<span>...</span></a>
            </div>
            <!----start-top-nav---->
            <nav class="top-nav">
                <ul class="top-nav">
                    <li><a href="index.html">首页home</a><span class="glyphicon glyphicon-search"></span> </li>
                    <li class="active"><a href="{:url('attractions/attractions/attractions')}">目的地locations</a></li>
                    <li><a href="reservation.html">故事story</a></li>
                    <li><a href="news.html"> 登录</a></li>
                    <li><a href="reviews.html">注册</a></li>
                </ul>
                <a href="#" id="pull"><img src="__STATIC__/images/nav-icon.png" title="menu" /></a>
            </nav>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>

<div class="footer">
    <div class="container-fluid">
        <div class="footer-grids">
            <div class="col-md-3 footer-grid">
                <p>
                    <span>New York tourister</span>
                    <span>3926 Anmoore Road</span>
                    <span>New York, NY 10014</span>
                    <span>718-749-1714</span>
                </p>
            </div>
            <div class="col-md-3 footer-grid">
                <p>
                    <span>France tourister</span>
                    <span>68, rue  de la Couronne</span>
                    <span>75002 PARIS</span>
                    <span>02.94.23.69.56</span>
                </p>
            </div>
            <div class="col-md-3 footer-grid">
                <ul>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Careers</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
            </div>
            <div class="col-md-3 footer-grid copy-right">
                <p>Copyright &copy; 2014.Company name All rights reserved.<a target="_blank" href="http://h2design.taobao.com/">氢设计</a></p>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!----- footer ----->

</body>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="__JS__/jquery.min.js"></script>
<script src="__JS__/bootstrap.min.js"></script>
</html>

