#per_img{
    width:10%;
    height:10%;
    border-radius: 50%;
}
#notes_img{
    margin-left:17%;
}
#notes_img img{
    width:80%;
    height:65%;
    margin-top:3%;
}
#notes_con div{
    width:80%;
    margin-left:10%;
    margin-top:3%;
}
#notes_con p{
    text-indent:2em;
}
#notes_con img{
    width:80%;
    height:65%;
    margin-top:3%;
}