<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>广告管理</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="__STATIC__/layui/css/layui.css" media="all" />
    <link rel="stylesheet" href="__CSS__/bootstrap.min.css" media="all" />
    <link rel="stylesheet" href="__STATIC__/css/font_eolqem241z66flxr.css" media="all" />
    <link rel="stylesheet" href="__STATIC__/css/backstage/chat.css" media="all" />
    <style type="text/css">
        .layui-table td, .layui-table th{ text-align: center; }
        .layui-table td{ padding:5px; }
    </style>
</head>
<body class="childrenBody">

<div class="container marPadd" id="myApp" >
    <div class="col-sm-2">
    </div>
    <div class="col-sm-8">
        <div class="row" style="border:1px solid #999;" >
            <div class="row"></div>
            <div class="row clearMarginPadding">
                <div class="col-sm-3 hidden-sm hidden-xs reviews-people" >
                    <div v-for="(val,key) in chat_obj" >
                        <img class="img_header_2" :src="val.chat_image" />{{val.chat_title}}
                    </div>

                </div>
                <div class="col-sm-9  ">
                    <div class="row chatCon" >
                        <div  v-for="(val,key) in chat_data">
                            <div class="media"  v-if="val.chat_login!=login" >
                                <div class="media-left media-middle ">
                                    <a class="reviews-people" href="#">
                                        <img class="img_header_2 media-object pull-left" src="__STATIC__/images/g1.jpg"  alt="...">
                                    </a>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">{{val.chat_title}}</h4>
                                    <br />
                                    <div>{{val.chat_con}}</div>
                                </div>
                            </div>
                            <div class="media sendConRight"  v-else  >
                                <div class="media-body">
                                    <h4 class="media-heading pull-right">{{val.chat_title}}</h4>
                                    <div class="clearfix"> </div>
                                    <br />
                                    <div class="">{{val.chat_con}}</div>
                                </div>
                                <div class="media-left media-middle ">
                                    <a class="reviews-people" href="#">
                                        <img class="img_header_2 media-object pull-left" src="__STATIC__/images/g1.jpg"  alt="...">
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="row" style="position:relative;">
                        <div class="sendChatCon" contenteditable="true" id="message" >sad</div>
                        <button class="btn btn-primary sendMsg" @click="sendMsg()" type="button"  >发送</button>
                    </div>

                </div>
            </div>
        </div>

    </div>
    <div class="col-sm-2"></div>
</div>

</body>
<script src="__STATIC__/layui/layui.js"></script>
<script>
    layui.use('element', function(){
        var element = layui.element;

        //…
    });

    // 获取聊天对象的url
    var chat_obj_url = "{:url('chat/chat/setChatTwo')}" ;

</script>
<script type="text/javascript" src="__JS__/vue.min.js"></script>
<script type="text/javascript" src="__JS__/jquery.min.js"></script>
<script type="text/javascript" src="__JS__/backstage/chat.js"></script>
</html>
