<!DOCTYPE HTML>
<html>
<head>
    <title>聊天</title>
    <link href="__CSS__/bootstrap.css" rel='stylesheet' type='text/css' />
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="__JS__/jquery.min.js"></script>
    <!-- Custom Theme files -->
    <link href="__CSS__/style.css" rel='stylesheet' type='text/css' />
    <link href="__CSS__/backstage/chat.css" rel='stylesheet' type='text/css' />
    <!-- Custom Theme files -->
    <!---- start-smoth-scrolling---->
    <script type="text/javascript" src="__JS__/move-top.js"></script>
    <script type="text/javascript" src="__JS__/easing.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function($) {
            $(".scroll").click(function(event){
                event.preventDefault();
                $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
            });
        });
    </script>
    <!---- start-smoth-scrolling---->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>


</head>
<body>
<div id="myApp">
    <div>
        <!----- start-header---->
        <!----- //End-header---->
        <!----- menu-page ----->
        <div class="reservation marPadd">
            <!------ menu-header ----->
            <!------ menuheader ----->
            <div class="clearfix"> </div>
            <div class="empty"></div>
            <!----- reservation ---->
            <div class="container" >
                <div class="col-sm-2">
                </div>
                <div class="col-sm-8">
                    <div class="row" style="border:1px solid #999;" >
                        <div class="row"></div>
                        <div class="row clearMarginPadding">
                            <div class="col-sm-3 hidden-sm hidden-xs reviews-people" style="" >
                                <div v-for="(val,key) in chat_obj" >
                                    <img class="img_header_2" :src="val.chat_image" />{{val.chat_title}}
                                </div>

                            </div>
                            <div class="col-sm-9 ">
                                <div class="row chatCon" >
                                    <div  v-for="(val,key) in chat_data">
                                        <div class="media"  v-if="val.chat_login!=login" >
                                            <div class="media-left media-middle ">
                                                <a class="reviews-people" href="#">
                                                    <img class="img_header_2 media-object pull-left" :src="val.chat_image"  alt="...">
                                                </a>
                                            </div>
                                            <div class="media-body">
                                                <h4 class="media-heading">{{val.chat_title}}</h4>
                                                <br />
                                                <div>{{val.chat_con}}</div>
                                            </div>
                                        </div>
                                        <div class="media sendConRight"  v-else  >
                                            <div class="media-body">
                                                <h4 class="media-heading pull-right">{{val.chat_title}}</h4>
                                                <div class="clearfix"> </div>
                                                <br />
                                                <div class="">{{val.chat_con}}</div>
                                            </div>
                                            <div class="media-left media-middle ">
                                                <a class="reviews-people" href="#">
                                                    <img class="img_header_2 media-object pull-left"  :src="val.chat_image"  alt="...">
                                                </a>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="row" style="position:relative;">
                                    <div class="sendChatCon" contenteditable="true" id="message" >sad</div>
                                    <button class="btn btn-primary sendMsg" @click="sendMsg()" type="button"  >发送</button>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-sm-2"></div>
            </div>
        </div>
    </div>
</div>


<script>
//    获取聊天对象的url
    var char_obj_url = "{:url('chat/chat/setChatTwo')}" ;

</script>

</body>
<script type="text/javascript" src="__JS__/bootstrap.min.js"></script>
<script type="text/javascript" src="__JS__/vue.min.js"></script>
<script type="text/javascript" src="__JS__/backstage/chat.js"></script>
</html>

