<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="UTF-8">
		<!--为了向下兼容ie8浏览器的效果-->
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<!--禁止用户对页面进行缩放，让页面更加接近原生APP的效果，滚轮为1：1-->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>去野 身临其境方知奥妙</title>
		<!--网页图标-->
		<link rel="shortcut icon" href="__STATIC__/images/logo.ico" type="image/x-icon"/>
		<link href="__CSS__/bootstrap.css" rel='stylesheet' type='text/css' />
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="__JS__/jquery.min.js"></script>
		 <!-- Custom Theme files -->
		<link href="__CSS__/style.css" rel='stylesheet' type='text/css' />
   		 <!-- Custom Theme files -->
   		 <!---- start-smoth-scrolling---->
		<script type="text/javascript" src="__JS__/move-top.js"></script>
		<script type="text/javascript" src="__JS__/easing.js"></script>
        <script src="__JS__/bootstrap.min.js"></script>
		<!--视频广告插件-->
		<link rel="stylesheet" href="__CSS__/jquery.vidbacking.css" type="text/css">
		<link rel="stylesheet" href="__CSS__/media.css" type="text/css">

		<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});
		</script>
		 <!---- start-smoth-scrolling---->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

		<!----start-top-nav-script---->
		<script>
			$(function() {
				var pull 		= $('#pull');
					menu 		= $('nav ul');
					menuHeight	= menu.height();
				$(pull).on('click', function(e) {
					e.preventDefault();
					menu.slideToggle();
				});
				$(window).resize(function(){
	        		var w = $(window).width();
	        		if(w > 320 && menu.is(':hidden')) {
	        			menu.removeAttr('style');
	        		}
	    		});
			});
		</script>
		<!----//End-top-nav-script---->
	</head>
	<body>
		<!----- start-header---->
			<div id="home" class="header">
					<div class="top-header">
						<div class="container">
						<div class="logo">
							<a href="{:url('index/index/index')}"><span>去野</span>Journey<span>...</span></a>
						</div>
						<!----start-top-nav---->
						 <nav class="top-nav">
							<ul class="top-nav">
								<li class="active"><a href="{:url('index/index/index')}">首页home</a></li>
								<li><a href="{:url('attractions/attractions/attractions')}">目的地locations</a></li>
								<li><a href="{:url('story/story/story')}">遊記notes</a></li>
								<li>
									<user-login></user-login>
								</li>
								<li>
									<user-register></user-register>
								</li>
							</ul>
							<a href="#" id="pull"><img src="__STATIC__/images/nav-icon.png" title="menu" /></a>
						</nav>
						<div class="clearfix"> </div>
					</div>
				</div>
			</div>
			<!----- //End-header---->
			<!----- banner ---->
			<div id="myCarousel" class="carousel slide text-center">
				<!-- 轮播（Carousel）指标 -->
				<ol class="carousel-indicators">
					<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
					<li data-target="#myCarousel" data-slide-to="1"></li>
					<li data-target="#myCarousel" data-slide-to="2"></li>
				</ol>
				<!-- 轮播（Carousel）项目 -->
				<div class="carousel-inner">
					<div class="item active">
						<img src="__STATIC__/images/banner.jpg" alt="">
					</div>
					<div class="item">
						<img src="__STATIC__/images/banner1.jpg">
					</div>
					<div class="item">
						<img src="__STATIC__/images/banner2.jpg">
					</div>
				</div>
				<!-- 轮播（Carousel）导航 -->
				<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
					<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
					<span class="sr-only">Previous</span>
				</a>
				<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
					<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
					<span class="sr-only">Next</span>
				</a>
			</div>
			<!----- banner ---->
			<!----- search ---->
			<!--<div class="search-group">-->
				<!--<ul>-->
					<!--<li >-->
						<!--<input class="tab-select" type="radio" name="type" title="全部"/>-->
						<!--<i>全部</i>-->
					<!--</li>-->
					<!--<li>-->
						<!--<input class="tab-select" type="radio" name="type"  title="目的地"/>-->
						<!--<i>目的地</i>-->
					<!--</li>-->
					<!--<li>-->
						<!--<input class="tab-select" type="radio" name="type"  title="酒店"/>-->
						<!--<i>酒店</i>-->
					<!--</li>-->
				<!--</ul>-->
				<!--<div>-->
					<!--<input class="search" type="text" />-->
					<!--<button class="btn btn-inverse btn-search"></button>-->
				<!--</div>-->

			<!--</div>-->
			<!----- search ---->
			<!----- menu ---->
			<div class="menu">
				<div class="container">
					<div class="menu-head text-center">
						<h3><span>目的地</span></h3>
					</div>
				</div>
				<!----- main-menus ----->
				<div class="main-menus">
					<div class="container">
					<div class="menus-left col-md-6">
						<div class="menus-left-grid">
							<div class="item">
								<h3>凤凰古城Fenghuanggucheng</h3>
								<span>自然与人文完美结合的旅程</span>
							</div>
							<div class="item-line">
								<span> </span>
							</div>
							<div class="item-price">
								<label><a class="go">Go</a></label>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="menus-left-grid">
							<div class="item">
								<h3>上海迪士尼Disney</h3>
								<span>点亮心中的奇梦</span>
							</div>
							<div class="item-line">
								<span> </span>
							</div>
							<div class="item-price">
								<label><a class="go">Go</a></label>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="menus-left-grid">
							<div class="item">
								<h3>响沙湾Sand Bay</h3>
								<span>中国沙漠度假地</span>
							</div>
							<div class="item-line">
								<span> </span>
							</div>
							<div class="item-price">
								<label><a class="go">Go</a></label>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="menus-left-grid">
							<div class="item">
								<h3>西北Xibei</h3>
								<span>唯美国度 丝路圣地</span>
							</div>
							<div class="item-line">
								<span> </span>
							</div>
							<div class="item-price">
								<label><a class="go">Go</a></label>
							</div>
							<div class="clearfix"> </div>
						</div>
						<!----- load- more-items ----->
						<a class="loadmore" href="#">加载更多<label><span> </span></label></a>
						<!----- load- more-items ----->

					</div>
					<div class="menus-right col-md-6">
						<div class="jq22-container">
							<div class="video-back">
								<video poster="" autoplay muted loop class="vidbacking">
									<source src="__STATIC__/media/mp4_video_1.3gp" type="video/mp4">
								</video>
							</div>
						</div>
					</div>
					<div class="clearfix"> </div>
				

				</div>
				</div>
				<!----- main-menus ----->
			</div>
			<div class="clearfix"> </div>
			<!----- menu ---->
			<!----- fearuted-diesh ----->
			<div class="fearuted-diesh">
				<div class="container">
					<h3>酒店Hotel<span> </span></h3>
					<!----sreen-gallery-cursual---->
						<div class="sreen-gallery-cursual">
							 <!-- requried-jsfiles-for owl -->
							<link href="__CSS__/owl.carousel.css" rel="stylesheet">
							    <script src="__JS__/owl.carousel.js"></script>
							        <script>
							    $(document).ready(function() {
							      $("#owl-demo").owlCarousel({
							         items :4,
							        lazyLoad : true,
							        autoPlay : true,
							        navigation : false,
							        navigationText :  false,
							        pagination : true,
							      });
							    });
							    </script>
							 <!-- //requried-jsfiles-for owl -->
							 <!-- start content_slider -->
						       <div id="owl-demo" class="owl-carousel">
					                <div class="item">
					                	<div class="item-grid">
					                		<div class="item-pic">
					                			<img src="__STATIC__/images/d1.jpg" title="dish-name" />
					                		</div>
					                		<div class="item-info">
					                			<div class="item-info-left">
					                				<h4>Fugiat nulla sint</h4>
					                				<span class="item-rate"> </span>
					                			</div>
					                			<div class="item-info-right">
					                				<label>$130</label>
					                			</div>
					                			<div class="clearfix"> </div>
					                		</div>
					                	</div>
					                </div>
					                <!----->
					                <div class="item">
					                	<div class="item-grid">
					                		<div class="item-pic">
					                			<img src="__STATIC__/images/d2.jpg" title="dish-name" />
					                		</div>
					                		<div class="item-info">
					                			<div class="item-info-left">
					                				<h4>Daute irure dolor</h4>
					                				<span class="item-rate"> </span>
					                			</div>
					                			<div class="item-info-right">
					                				<label>$124</label>
					                			</div>
					                			<div class="clearfix"> </div>
					                		</div>
					                	</div>
					                </div>
					                <!----->
					                <div class="item">
					                	<div class="item-grid">
					                		<div class="item-pic">
					                			<img src="__STATIC__/images/d3.jpg" title="dish-name" />
					                		</div>
					                		<div class="item-info">
					                			<div class="item-info-left">
					                				<h4>Officia deserunt mollit</h4>
					                				<span class="item-rate"> </span>
					                			</div>
					                			<div class="item-info-right">
					                				<label>$160</label>
					                			</div>
					                			<div class="clearfix"> </div>
					                		</div>
					                	</div>
					                </div>
					                <!----->
					                <div class="item">
					                	<div class="item-grid">
					                		<div class="item-pic">
					                			<img src="__STATIC__/images/d4.jpg" title="dish-name" />
					                		</div>
					                		<div class="item-info">
					                			<div class="item-info-left">
					                				<h4>Pim minim veniam</h4>
					                				<span class="item-rate"> </span>
					                			</div>
					                			<div class="item-info-right">
					                				<label>$117</label>
					                			</div>
					                			<div class="clearfix"> </div>
					                		</div>
					                	</div>
					                </div>
					                <!----->
					                <div class="item">
					                	<div class="item-grid">
					                		<div class="item-pic">
					                			<img src="__STATIC__/images/d1.jpg" title="dish-name" />
					                		</div>
					                		<div class="item-info">
					                			<div class="item-info-left">
					                				<h4>Fugiat nulla sint</h4>
					                				<span class="item-rate"> </span>
					                			</div>
					                			<div class="item-info-right">
					                				<label>$130</label>
					                			</div>
					                			<div class="clearfix"> </div>
					                		</div>
					                	</div>
					                </div>
					                <!----->
					                <div class="item">
					                	<div class="item-grid">
					                		<div class="item-pic">
					                			<img src="__STATIC__/images/d2.jpg" title="dish-name" />
					                		</div>
					                		<div class="item-info">
					                			<div class="item-info-left">
					                				<h4>Daute irure dolor</h4>
					                				<span class="item-rate"> </span>
					                			</div>
					                			<div class="item-info-right">
					                				<label>$214</label>
					                			</div>
					                			<div class="clearfix"> </div>
					                		</div>
					                	</div>
					                </div>
					                <!----->
					                <div class="item">
					                	<div class="item-grid">
					                		<div class="item-pic">
					                			<img src="__STATIC__/images/d3.jpg" title="dish-name" />
					                		</div>
					                		<div class="item-info">
					                			<div class="item-info-left">
					                				<h4>Officia deserunt mollit</h4>
					                				<span class="item-rate"> </span>
					                			</div>
					                			<div class="item-info-right">
					                				<label>$160</label>
					                			</div>
					                			<div class="clearfix"> </div>
					                		</div>
					                	</div>
					                </div>
					                <!----->
					                <div class="item">
					                	<div class="item-grid">
					                		<div class="item-pic">
					                			<img src="__STATIC__/images/d4.jpg" title="dish-name" />
					                		</div>
					                		<div class="item-info">
					                			<div class="item-info-left">
					                				<h4>Pim minim veniam</h4>
					                				<span class="item-rate"> </span>
					                			</div>
					                			<div class="item-info-right">
					                				<label>$117</label>
					                			</div>
					                			<div class="clearfix"> </div>
					                		</div>
					                	</div>
					                </div>
					                <!----->
				              </div>
						<!--//sreen-gallery-cursual---->
				</div>
			</div>
			<!----- fearuted-diesh ----->
			<!----- gallery ----->
			<div class="gallery">
				<div class="container">
					<h3>热门故事Story</h3>
					<div class="gallery-grids">
						<div class="gallery-grids-left">
							<div class="gallery-grid-left">
								<img src="__STATIC__/images/g1.jpg" title="name" />
								<div class="gallery-grid-left-caption">
									<h4>Place Name</h4>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi convallis, mi ac placerat iaculis, nulla sem eleifend felis, sed ullamcorper augue massa in</p>
									<a class="more" href="#">ReadMore</a>
								</div>
							</div>
							<div class="clearfix"> </div>
						</div>
						<!----->
						<div class="gallery-grids-right">
							<div class="gallery-grids-right-top">
								<div class="gallery-grids-right-top-grid">
									<div class="gallery-grids-right-top-grid-pic">
										<img src="__STATIC__/images/g2.jpg" title="name" />
									</div>
									<div class="gallery-grids-right-top-grid-caption">
										<h4>Place Name</h4>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi convallis, mi ac placerat iaculis, nulla sem eleifend felis, sed ullamcorper augue massa in</p>
										<a class="more" href="reservation.html">ReadMore</a>
									</div>
								</div>
								<div class="gallery-grids-right-top-grid">
									<div class="gallery-grids-right-top-grid-pic">
										<img src="__STATIC__/images/g3.jpg" title="name" />
									</div>
									<div class="gallery-grids-right-top-grid-caption">
										<h4>Place Name</h4>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi convallis, mi ac placerat iaculis, nulla sem eleifend felis, sed ullamcorper augue massa in</p>
										<a class="more" href="reservation.html">ReadMore</a>
									</div>
								</div>
								<div class="clearfix"> </div>
							</div>
							<!----->
							<div class="gallery-grids-right-bottom">
								<div class="gallery-grids-right-top-grid">
									<div class="gallery-grids-right-top-grid-pic">
										<img src="__STATIC__/images/g4.jpg" title="name" />
									</div>
									<div class="gallery-grids-right-top-grid-caption">
										<h4>Place Name</h4>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi convallis, mi ac placerat iaculis, nulla sem eleifend felis, sed ullamcorper augue massa in</p>
										<a class="more" href="reservation.html">ReadMore</a>
									</div>
								</div>
								<div class="gallery-grids-right-top-grid">
									<div class="gallery-grids-right-top-grid-pic">
										<img src="__STATIC__/images/g5.jpg" title="name" />
									</div>
									<div class="gallery-grids-right-top-grid-caption">
										<h4>Place Name</h4>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi convallis, mi ac placerat iaculis, nulla sem eleifend felis, sed ullamcorper augue massa in</p>
										<a class="more" href="reservation.html">ReadMore</a>
									</div>
								</div>
								<div class="clearfix"> </div>
							</div>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
			</div>
			<!----- gallery ----->
			<!----- footer ----->
			<div class="footer">
				<div class="container">
					<div class="footer-grids">
						<div class="col-md-3 footer-grid">
							<p>
								<span>关于我们</span>
								<span>关于去野</span>
								<span><a class="line" href="{:url('store/Application/storeEnter')}">商家入驻</a></span>
								<span>联系我们</span>
							</p>
						</div>
						<div class="col-md-3 footer-grid">
							<p>
								<span>China tourister</span>
								<span>68, rue  de la Couronne</span>
								<span>75002 PARIS</span>
								<span>718-749-1714</span>
							</p>
						</div>
						<div class="col-md-3 footer-grid">
							<ul>
								<span>友情链接</span>
								<li><a href="https://zh.airbnb.com">Airbnb爱彼迎</a></li>
								<li><a href="http://www.booking.com">缤客</a></li>
								<li><a href="http://www.mafengwo.cn/">马蜂窝</a></li>
							</ul>
						</div>
						<div class="col-md-3 footer-grid copy-right">
							<p>Copyright &copy; 2018.去野All rights reserved.</p>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
			</div>
			<!----- footer ----->
	
</body>
	<script src="__JS__/jquery.vidbacking.js" type="text/javascript"></script>
	<script type="text/javascript" src="__JS__/vue.min.js"></script>
	<script type="text/javascript">
        /*
        点击登录/注册跳转页面
        */
        var $login_jump = "{:url('user/Login/index')}" ;
        var $register_jump = "{:url('user/Register/index')}" ;
        var $user_login_already = "{:url('user/Login/userLoginAlready')}" ;
        var $user_person_url = "{:url('user/Person/person')}" ;
        var $user_login_out = "{:url('user/Login/outLogin')}" ;
	</script>
	<script type="text/javascript" src="__JS__/user/user_login.js"></script>
</html>

