<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>酒店管理</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="__STATIC__/layui/css/layui.css" media="all" />
    <link rel="stylesheet" href="__CSS__/bootstrap.min.css" media="all" />
    <link rel="stylesheet" href="__STATIC__/css/font_eolqem241z66flxr.css" media="all" />
    <style type="text/css">
        .layui-table td, .layui-table th{ text-align: center; }
        .layui-table td{ padding:5px; }
    </style>
</head>
<body class="childrenBody">
<div  id="myApp" >
    <form method="post" action="{:url('platformmanage/Hotelbg/hotelbg')}" >
        <blockquote class="layui-elem-quote news_search">
            <div class="layui-inline">
                <div class="layui-input-inline">
                    <input type="text" value="" placeholder="请输入关键字" name="seartch_advert" class="layui-input search_input">
                </div>
                <button type="submit" class="layui-btn search_btn">查询</button>
            </div>
        </blockquote>
    </form>
    <div class="layui-form links_list">
        <table class="layui-table">
            <colgroup>
                <col width="50">
                <col>
                <col>
                <col>
                <col>
                <col>
                <col>
                <col width="13%">
            </colgroup>
            <thead>
            <tr>
                <th><input type="checkbox" name="" lay-skin="primary" lay-filter="allChoose" id="allChoose"></th>
                <th style="text-align:left;">酒店ID</th>
                <th>酒店名字</th>
                <th>酒店图片</th>
                <th>房间总数</th>
                <th>酒店地址</th>
                <th>酒店价格</th>
                <th>审核状态</th>
                <th>上下架状态</th>
                <th>操作</th>
                <th>操作</th>
            </tr>
            </thead>
        {volist name="hotelbg" id="vo"}
            <tbody class="links_content">
            <tr>
                <th><input type="checkbox" name="" lay-skin="primary" lay-filter="allChoose" id="allChoose1"></th>
                <th style="text-align:left;">{$vo.hId}</th>
                <th>{$vo.hName}</th>
                <th><img src="__STATIC__/images/{$vo.hImg}" title="dish-name" /></th>
                <th>{$vo.hRoomNumber}间</th>
                <th>{$vo.hAddress}</th>
                <th>{$vo.hPrice}元</th>
                <th>{$vo.putaway}</th>
                <th>{$vo.audit}</th>
                <th>
                    <div class="layui-hide layui-show-md-block">
                        {if condition="$vo.audit eq '1'"}
                            <button class="layui-btn">审核成功</button>
                        {else/}
                        <button class="layui-btn" audit="{$vo.hId}" onclick="audit(this)">审核</button>
                        {/if}
                    </div>
                </th>
                <th>
                    <div class="layui-hide layui-show-md-block">
                        {if condition="$vo.putaway eq '上架'"}
                            <input type="button" value="酒店下架" class="layui-btn"  go="{$vo.hId}"onclick="godown(this) ">
                            {else /}<button class="layui-btn"  dowm="{$vo.hId}" onclick="goup(this) ">酒店上架</button>
                        {/if}
                    </div>
                </th>
            </tr>
            </tbody>
            {/volist}
        </table>
        {$page}
    </div>
    <div id="page">
    </div>
</div>
</body>
<script src="__STATIC__/layui/layui.js"></script>
<script>
    layui.use('element', function(){
        var element = layui.element;
    });
    // 酒店上架
    function goup(obj){
        if(confirm('确定上架酒店？')){
            var hotelid=$(obj).attr("go");
             console.log(hotelid);
            $.ajax({
                url:'{:url("platformmanage/Hotelbg/upstate")}',
                data:{
                    nowhotelid:hotelid
                },
                type:"post",
                datatype:"",
                succsess:function(res){
                    alert('上架成功！');
                    console.log(232);
                    console.log(res);
                    window.location.href='{:url("platformmanage/Hotelbg/hotelbg")}';
                }
            })
        }
    }
    // 酒店下架
    function godown(obj){
        if(confirm("确定要下架")){
            var hotelid=$(obj).attr('dowm');
            $.ajax({
                url:"{:url('platformmanage/Hotelbg/downstate')}",
                data:{
                  nowhotelid:hotelid
                },
                type:"post",
                datatype:"",
                success:function(res){

                }
            })

        }
    }
    //酒店审核
    function audit(obj){
        if(confirm('确定要审核通过该酒店？')){
            var audit=$(obj).attr('atdit');
            $.ajax({
                url:":url('platformmanage/Hotelbg/hotelaudit')",
                data:{
                    nowhotelid: audit
                },
                type:"post",
                dattype:"",
                success:function(res){
                    alert(res);
                    if(res==1){

                    }
                }
            })

        }
    }
</script>
<script type="text/javascript" src="__JS__/vue.min.js"></script>
<script type="text/javascript" src="__JS__/jquery.min.js"></script>
<script type="text/javascript" src="__JS__/platform/platform.js"></script>
</html>