<!DOCTYPE html>
<html lang="en">
<head>
    <title>个人中心页</title>
    <link href="__CSS__/bootstrap.min.css" rel='stylesheet' type='text/css' />
    <link href="__CSS__/style.css" rel='stylesheet' type='text/css' />
    <link href="__CSS__/person.css" rel='stylesheet' type='text/css' />
    <meta charset="UTF-8">
    <title>个人中心页</title>
</head>
<body>
<!--导航页-->
<div id="home" class="header">
    <div class="top-header">
        <div class="container">
            <div class="logo">
                <a href="{:url('index/index/index')}"><span>去野</span>Journey<span>...</span></a>
            </div>
            <!----start-top-nav---->
            <nav class="top-nav"id="login-register">
                <ul class="top-nav">
                    <li class="active"><a href="{:url('index/index/index')}">首页home</a></li>
                    <li><a href="{:url('attractions/attractions/attractions')}">目的地locations</a></li>
                    <li><a href="{:url('story/story/story')}">遊記notes</a></li>
                    <li>
                        <user-login></user-login>
                    </li>
                    <li>
                        <user-register></user-register>
                    </li>
                </ul>
                <a href="#" id="pull"><img src="__STATIC__/images/nav-icon.png" title="menu" /></a>
            </nav>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<div>点亮地图区</div>
<div class="container">
    <div class="row">
        <div class="col-lg-3 left_style text-center">
            <div >
                <img src={$user_image} alt="用户头像" class="img-circle" style="width:180px;height:180px">
                <p>{$user_name}</p>
                <p>注册时间:{$user_time}</p>
                <span>性别：{$user_sex} |</span>
                <!--跳转修改信息页-->
                <a href="{:url('user/changeperson/index')}"><span class="glyphicon glyphicon-cog"></span></a>
                <p></p>
                <!--此处进行判断，用户有简介则显示简介-->
                <div id="userInfo" uid="{$user_uid}">
                    <button @click="show" v-if="userIntro==''" id="introBtn" type="button" class="btn btn-warning btn-sm btn-block intro_btn" >填写个人简介</button>
                    <div v-else>
                        <span id="userIntro" @click="show">{{userIntro}}</span>
                    </div>
                    <div id="inputIntro">
                        <textarea id = "myIntro" autofocus="true" placeholder="例：摄影师/旅居澳洲/潜水爱好者" maxlength="100" rows="3" class="personInfo"></textarea>
                        <button @click="saveIntro" type="button" class="btn btn-warning btn-sm btn-block">保存</button>
                    </div>
                </div>
            </div>
            <div>我的关注</div>
            <div>我的粉丝</div>
        </div>
        <div class="col-lg-9 right_style">
            <!--<div class="container-fluid">
                <div class="row">
                    <div class="col-lg-3">我的游记</div>
                    <div class="col-lg-3">我的收藏</div>
                    <div class="col-lg-3">我的点评</div>
                    <div class="col-lg-3">我的订单</div>

                </div>
            </div>-->
            <ul id="myTab" class="nav nav-tabs">
                <li class="active" >
                    <a href="#myStory" data-toggle="tab">
                        我的游记
                    </a>
                </li>
                <li>
                    <a href="#myCollect" data-toggle="tab">我的收藏</a>
                </li>
                <li>
                    <a href="#myComment" data-toggle="tab">我的点评</a>
                </li>
                <li class="dropdown">
                    <a href="#" id="myTabDrop1" class="dropdown-toggle"
                       data-toggle="dropdown">我的订单
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="myTabDrop1">
                        <li><a href="#allIndent" tabindex="-1" data-toggle="tab">全部订单</a></li>
                        <li><a href="#unpaid" tabindex="-1" data-toggle="tab">未支付订单</a></li>
                        <li><a href="#paid" tabindex="-1" data-toggle="tab">已支付订单</a></li>
                    </ul>
                </li>
            </ul>
            <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade in active " id="myStory">
                    <!----- recent-news ----->
                    <div v-for="value in notes" class="recent-news">
                        <div sid="{value.sid}" class="recent-news-grid" style="cursor:pointer" @click=storydetail()>
                            <div class="recent-news-grid-left">
                                <a href="{:url('story/storydetail/storydetail')}"><img src="__STATIC__/images/d1.jpg" title="name" /></a>
                            </div>
                            <div class="recent-news-grid-right">
                                <h2>{{value.title}}</h2>
                                <p>要说南京这座城市，虽然没有那么四季分明，但一年四季都有它独特的样子，自然我最爱的还是春天。</p>
                                <p>春天是相机最忙的季节，三月中旬的时候南京便成了花的海洋。南京最出名的赏花地莫过于鸡鸣寺的樱花大道，明孝陵的梅花山或者是南理工的二月兰，但每个地方在晴好的周末都会被汹涌的人流包围，那阵势俨然成了“花赏人”。</p>
                                <p></p>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                        <div class="recent-news-grid">
                            <div class="recent-news-grid-left">
                                <a href="#"><img src="__STATIC__/images/d2.jpg" title="name" /></a>
                            </div>
                            <div class="recent-news-grid-right">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque aliquam at lectus sed imperdiet. Vestibulum scelerisque fermentum lorem vitae condimentum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed ultricies dapibus nibh, in vehicula tortor aliquam id. Nunc id laoreet sem, ac bibendum lectus.</p>
                                <p>Cras hendrerit lectus non enim vulputate, eget ornare lectus tincidunt. Quisque at est cursus lectus aliquet sagittis sed id lacus. Vivamus eu adipiscing enim</p>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                        <div class="recent-news-grid">
                            <div class="recent-news-grid-left">
                                <a href="#"><img src="__STATIC__/images/d3.jpg" title="name" /></a>
                            </div>
                            <div class="recent-news-grid-right">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque aliquam at lectus sed imperdiet. Vestibulum scelerisque fermentum lorem vitae condimentum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed ultricies dapibus nibh, in vehicula tortor aliquam id. Nunc id laoreet sem, ac bibendum lectus.</p>
                                <p>Cras hendrerit lectus non enim vulputate, eget ornare lectus tincidunt. Quisque at est cursus lectus aliquet sagittis sed id lacus. Vivamus eu adipiscing enim</p>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                        <div class="clearfix"> </div>
                        <a class="news-btn" href="#">View all News</a>
                    </div>
                    <!----- recent-news ----->
                </div>
                <div class="tab-pane fade " id="myCollect">
                    <p>我的收藏</p>
                </div>
                <div class="tab-pane fade " id="myComment">
                    <p>我的点评</p>
                </div>
                <div class="tab-pane fade" id="allIndent">
                    <p>全部订单</p>
                </div>
                <div class="tab-pane fade" id="unpaid">
                    <p>
                        未支付订单
                    </p>
                </div>
                <div class="tab-pane fade" id="paid">
                    <p>
                        已支付订单
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <div class="container">
        <div class="footer-grids">
            <div class="col-md-3 footer-grid">
                <p>
                    <span>关于我们</span>
                    <span>关于去野</span>
                    <span><a class="line" href="{:url('store/Application/storeEnter')}">商家入驻</a></span>
                    <span>联系我们</span>
                </p>
            </div>
            <div class="col-md-3 footer-grid">
                <p>
                    <span>China tourister</span>
                    <span>68, rue  de la Couronne</span>
                    <span>75002 PARIS</span>
                    <span>718-749-1714</span>
                </p>
            </div>
            <div class="col-md-3 footer-grid">
                <ul>
                    <span>友情链接</span>
                    <li><a href="https://zh.airbnb.com">Airbnb爱彼迎</a></li>
                    <li><a href="http://www.booking.com">缤客</a></li>
                    <li><a href="http://www.mafengwo.cn/">马蜂窝</a></li>
                </ul>
            </div>
            <div class="col-md-3 footer-grid copy-right">
                <p>Copyright &copy; 2018.去野All rights reserved.</p>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
</body>
<script src="__JS__/jquery.min.js"></script>
<script src="__JS__/bootstrap.min.js"></script>
<script src="__JS__/vue.min.js"></script>
<script type="text/javascript">
    var getIntroUrl="{:url('user/person/getIntro')}";
    var changeUrl="{:url('user/person/changeIntro')}";
    /*
     个人中心的url
     */
    var $user_person_url = "{:url('user/Person/index')}" ;
    /*
    /*
    登录页面的url
     */
    var $login_jump = "{:url('user/Login/index')}" ;
    /*
    注册页面的url
     */
    var $register_jump = "{:url('user/Register/index')}" ;
    /*
    是否已登录
     */
    var $user_login_already = "{:url('user/Login/userLoginAlready')}" ;
    /*
    退出登录的url
     */
    var $user_login_out = "{:url('user/Login/outLogin')}" ;
    /*
     聊天界面
     */
    var $chat_url = "{:url('chat/Chat/index')}" ;

</script>
<script src="__JS__/user/person.js"></script>
<script type="text/javascript" src="__JS__/user/user_login.js"></script>
</html>