<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>申请广告</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <script src="__JS__/jquery.min.js"></script>
    <link rel="stylesheet" href="__STATIC__/layui/css/layui.css" media="all" />
    <link rel="stylesheet" href="__STATIC__/css/font_eolqem241z66flxr.css" media="all" />
    <script type="text/javascript" src="__JS__/vue.min.js"></script>
    <style type="text/css">
        .layui-table td, .layui-table th{ text-align: center; }
        .layui-table td{ padding:5px; }
    </style>
</head>
<body class="childrenBody">
<div id="app">

        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show" id="hotel">
                <form class="layui-form" enctype="multipart/form-data" method="post" action="{:url('storemanage/Applyad/applyad')}">
                    <table class="layui-table">
                        <colgroup>
                            <col width="20%">
                            <col width="50%">
                            <col>
                        </colgroup>
                        <thead>
                        <tr>
                            <th>名称</th>
                            <th>内容</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>广告名称</td>
                            <td><input type="text" class="layui-input cmsName" lay-verify="required" value="广告66" placeholder="请输入广告名称" name="hotelName"></td>
                        </tr>

                        <tr>
                            <td>广告目标地址</td>
                            <td><input type="text" class="layui-input author" placeholder="请输入广告目标地址" value="" lay-verify="required" name="link"></td>
                        </tr>
                        <tr>
                            <td>广告说明</td>
                            <td><textarea placeholder="请输入广告说明" class="layui-textarea description" name="advert_textarea"></textarea></td>
                        </tr>
                        <tr>
                            <td>广告图片上传</td>
                            <td>
                                <input type="file" class="layui-btn " id="uploadPic" value="上传图片" name="file" />
                                <!--<i class="layui-icon">&#xe67c;</i>-->
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="layui-form-item" style="text-align: right;">
                        <div class="layui-input-block">
                            <!-- lay-submit="" -->
                            <button class="layui-btn" lay-filter="systemParameter">立即提交</button>
                            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="layui-tab-item" id="cate">

            </div>
        </div>

</div>


</body>
<script src="__STATIC__/layui/layui.js"></script>


</html>
