<!DOCTYPE HTML>
<html>
<head>
    <title>目的页</title>
    <link href="__CSS__/bootstrap.min.css" rel='stylesheet' type='text/css' />

    <!-- Custom Theme files -->
    <link href="__CSS__/style.css" rel='stylesheet' type='text/css' />
    <!-- Custom Theme files -->
    <link href="__CSS__/attractions.css" rel='stylesheet' type='text/css' />
</head>
<body>
<!----- start-header---->
<div id="home" class="header">
    <div class="top-header">
        <div class="container">
            <div class="logo">
                <a href="{:url('index/index/index')}"><span>去野</span>Journey<span>...</span></a>
            </div>
            <!----start-top-nav---->
            <nav class="top-nav">
                <ul class="top-nav">
                    <li><a href="{:url('index/index/index')}">首页home</a><span class="glyphicon glyphicon-search"></span> </li>
                    <li class="active"><a href="{:url('attractions/attractions/attractions')}">目的地locations</a></li>
                    <li><a href="{:url('story/story/story')}">遊記notes</a></li>
                    <li><a href="{:url('user/login/index')}"> 登录</a></li>
                    <li><a href="{:url('user/register/index')}">注册</a></li>
                </ul>
                <a href="#" id="pull"><img src="__STATIC__/images/nav-icon.png" title="menu" /></a>
            </nav>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<div class="container-fluid storyImg">
    <!--此处动态获取最新游记图与ID-->
    <div class="row ">
        <!--跳转到游记入口-->
        <a href="#">
            <img src="__STATIC__/images/banner.jpg" class="img-responsive" alt="游记图">
        </a>
    </div>
    <div class="row storyContent ">
        <div class="col-lg-6">
            <div class="search center-block">
                <span>Don't fear the unknown</span>
                <div class="input-group input-group-lg searchBD">
                    <input type="text" class="form-control" placeholder="我想去...">
                    <span class="input-group-addon searchIcon"><span class="glyphicon glyphicon-search "></span></span>
                </div>
                <ul class="list-inline" >
                    <li><a>厦门</a></li>
                    <li><a>武汉</a></li>
                    <li><a>福州</a></li>
                    <li><a>青岛</a></li>
                    <li><a>济州岛</a></li>
                </ul>
            </div>
        </div>
        <div class="col-lg-6">
            <a href="#">
                <!--跳转到游记入口-->
                <h2>世界三大赏樱圣地，有一个就在太湖鼋[yuán]头渚</h2>
                <span></span>
            </a>
            <p>说起赏樱，大部分人脑海中的第一印象就是日本，其实全世界公认的三大赏樱圣地，有一个就在中国，那就是无锡太湖鼋头渚。</p>
            <div>
                <!--跳转到游记入口-->
                <a href="#">阅读全文</a>
            </div>
        </div>
    </div>
</div>
<!--所有目的地-->
<div class="container">
    <h3 class="text-center">目的地</h3>
    <div class="row">
        <div class="col-lg-6">
            <dl class="dl-horizontal">
                <dt><a>福建</a></dt>
                <dd>
                    <ul class="list-inline">
                        <li><a href="{:url('attractions/destination/destination')}">福州</a></li>
                        <li><a href="{:url('attractions/destination/destination')}">福州</a></li>
                        <li><a href="{:url('attractions/destination/destination')}">福州</a></li>
                        <li><a href="{:url('attractions/destination/destination')}">福州</a></li>
                        <li><a href="{:url('attractions/destination/destination')}">福州</a></li>
                        <li><a href="{:url('attractions/destination/destination')}">福州</a></li>
                        <li><a href="{:url('attractions/destination/destination')}">福州</a></li>

                    </ul>
                </dd>
                <dt><a>福建</a></dt>
                <dd>
                    <ul class="list-inline">
                        <li><a>福州</a></li>
                        <li><a>福州</a></li>
                        <li><a>福州</a></li>
                        <li><a>福州</a></li>
                        <li><a>福州</a></li>
                        <li><a>福州</a></li>
                        <li><a>福州</a></li>
                        <li><a>福州</a></li>
                        <li><a>福州</a></li>
                        <li><a>福州</a></li>
                        <li><a>福州</a></li>
                        <li><a>福州</a></li>
                        <li><a>福州</a></li>
                        <li><a>福州</a></li>
                    </ul>
                </dd>
            </dl>
        </div>
        <div class="col-lg-6">
            <dl class="dl-horizontal" >
                <dt><a>福建</a></dt>
                <dd>
                    <ul class="list-inline">
                        <li><a>福州</a></li>
                        <li><a>福州</a></li>
                        <li><a>福州</a></li>
                        <li><a>福州</a></li>
                        <li><a>福州</a></li>
                        <li><a>福州</a></li>
                        <li><a>福州</a></li>
                    </ul>
                </dd>
                <dt><a>福建</a></dt>
                <dd>
                    <ul class="list-inline">
                        <li><a>福州</a></li>
                        <li><a>福州</a></li>
                        <li><a>福州</a></li>
                        <li><a>福州</a></li>
                        <li><a>福州</a></li>
                        <li><a>福州</a></li>
                        <li><a>福州</a></li>
                    </ul>
                </dd>
                <dt><a>福建</a></dt>
                <dd>
                    <ul class="list-inline">
                        <li><a>福州</a></li>
                        <li><a>福州</a></li>
                        <li><a>福州</a></li>
                        <li><a>福州</a></li>
                        <li><a>福州</a></li>
                        <li><a>福州</a></li>
                        <li><a>福州</a></li>
                    </ul>
                </dd>
            </dl>
        </div>
    </div>
</div>
<div class="footer">
    <div class="container-fluid">
        <div class="footer-grids">
            <div class="col-md-3 footer-grid">
                <p>
                    <span>New York tourister</span>
                    <span>3926 Anmoore Road</span>
                    <span>New York, NY 10014</span>
                    <span>718-749-1714</span>
                </p>
            </div>
            <div class="col-md-3 footer-grid">
                <p>
                    <span>France tourister</span>
                    <span>68, rue  de la Couronne</span>
                    <span>75002 PARIS</span>
                    <span>02.94.23.69.56</span>
                </p>
            </div>
            <div class="col-md-3 footer-grid">
                <ul>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Careers</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
            </div>
            <div class="col-md-3 footer-grid copy-right">
                <p>Copyright &copy; 2014.Company name All rights reserved.<a target="_blank" href="http://h2design.taobao.com/">氢设计</a></p>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!----- footer ----->

</body>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="__JS__/jquery.min.js"></script>
<script src="__JS__/bootstrap.min.js"></script>
<script type="text/javascript">
    /*
     个人中心的url
     */
    var $user_person_url = "{:url('user/Person/index')}" ;
    /*
    /*
    登录页面的url
     */
    var $login_jump = "{:url('user/Login/index')}" ;
    /*
    注册页面的url
     */
    var $register_jump = "{:url('user/Register/index')}" ;
    /*
    是否已登录
     */
    var $user_login_already = "{:url('user/Login/userLoginAlready')}" ;
    /*
    退出登录的url
     */
    var $user_login_out = "{:url('user/Login/outLogin')}" ;
    /*
     聊天界面
     */
    var $chat_url = "{:url('chat/Chat/index')}" ;

</script>

<script type="text/javascript" src="__JS__/user/user_login.js"></script>
</html>

