<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>订单管理</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <script src="__JS__/jquery.min.js"></script>
    <link rel="stylesheet" href="__STATIC__/layui/css/layui.css" media="all" />
    <link rel="stylesheet" href="__STATIC__/css/font_eolqem241z66flxr.css" media="all" />
    <script type="text/javascript" src="__JS__/vue.min.js"></script>
    <style type="text/css">
        .layui-table td, .layui-table th{ text-align: center; }
        .layui-table td{ padding:5px; }
    </style>
</head>
<body class="childrenBody">
<table id="demo" lay-filter="hotel"></table>


</body>
<script src="__STATIC__/layui/layui.js"></script>

<script>

    layui.use('table', function(){
        var table = layui.table;
        console.log(2212)
        //第一个实例
        table.render({
            elem: '#demo'
            ,height: 315
            ,url: '{:url("storemanage/Order/hotelOrderData")}' //数据接口
            ,page: true //开启分页
            ,cols: [[ //表头
                {field: 'hoId', title: '订单ID', width:80, fixed: 'left'}
                ,{field: 'hName', title: '酒店名称', width:280, fixed: 'left'}
                ,{field: 'hPrice', title: '价格', width:80, sort: true}
                ,{field: 'hAddress', title: '详细地址', width:180}
                ,{field: 'orderstate', title: '订单状态', width:180,toolbar:'#barState'}
                ,{field: 'oper', title: '操作', width:180,toolbar:'#barOper'}
            ]]
        });
        //监听工具条
        table.on('tool(hotel)', function(obj){ //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"

            var data = obj.data; //获得当前行数据
            var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
            var tr = obj.tr; //获得当前行 tr 的DOM对象
            if(layEvent === 'info'){ //查看
                layer.alert('');
                //do somehing
            } else if(layEvent === 'cancel'){ //取消订单
                layer.confirm('确定取消订单吗', function(index){
                    $.post("{:url('storemanage/Order/cancel')}",{"hoId":obj.data.hoId},function (res) {
                        var msg=JSON.parse(res);
                        if(msg.code==10000){
                            layer.alert('操作成功');
                        }else {
                            layer.alert('操作失败');
                        }
                    table.reload('demo', {
                        url: '{:url("storemanage/Order/hotelOrderData")}'
                        ,where: {} //设定异步数据接口的额外参数
                        //,height: 300
                    });
                    });
                    layer.close(index);
                });
            } else if(layEvent === 'use'){ //使用
                layer.confirm('确定使用吗', function(index){
                    $.post("{:url('storemanage/Order/useOrder')}",{"hoId":obj.data.hoId},function (res) {
                        var msg=JSON.parse(res);
                        if(msg.code==10000){
                            layer.alert('操作成功');
                        }else {
                            layer.alert('操作失败');
                        }
                        table.reload('demo', {
                            url: '{:url("storemanage/Order/hotelOrderData")}'
                            ,where: {} //设定异步数据接口的额外参数
                            //,height: 300
                        });
                    });
                    layer.close(index);
                });
            }else if(layEvent === 'refund'){ //退款
                layer.confirm('确定退款吗', function(index){
                    $.post("{:url('storemanage/Order/refund')}",{"WIDTRout_trade_no":obj.data.hoId,"WIDTRrefund_reason":"商家操作退款","WIDTRrefund_amount":obj.data.hPrice},function (res) {
                        var msg=JSON.parse(res);
                        if(msg.code==10000){
                            layer.alert('操作成功');
                        }else {
                            layer.alert('操作失败');
                        }
                        table.reload('demo', {
                            url: '{:url("storemanage/Order/hotelOrderData")}'
                            ,where: {} //设定异步数据接口的额外参数
                            //,height: 300
                        });
                    });
                    layer.close(index);
                });
            }
        });

    });
    //上传图片URL

</script>
<script type="text/html" id="barState">
    {{#  if(d.orderstate =='0'){ }}
    <span>未支付</span>
    {{#  } else if(d.orderstate =='1') { }}
    <span>已支付</span>
    {{#  } else {}}
    <span>失效</span>
    {{#  } }}
</script>
<script type="text/html" id="barOper">
    {{#  if(d.orderstate =='0'){ }}
    <a class="layui-btn layui-btn-xs" lay-event="cancel">取消订单</a>
    {{#  } else if(d.orderstate =='1') { }}
    <a class="layui-btn layui-btn-xs" lay-event="use">使用</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="refund">退款</a>
    {{#  } else if(d.orderstate =='2') { }}
    <!--<a class="layui-btn layui-btn-xs" lay-event="up">退款</a>-->
    {{#  } else {}}

    {{#  } }}
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
</script>




</html>
