<!DOCTYPE HTML>
<html>
	<head>
		<title>聊天</title>
		<link href="__CSS__/bootstrap.css" rel='stylesheet' type='text/css' />
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="__JS__/jquery.min.js"></script>
		 <!-- Custom Theme files -->
		<link href="__CSS__/style.css" rel='stylesheet' type='text/css' />
		<style type="text/css">
			/*聊天头像*/
			.img_header_2{
				width:45px ;
				height:45px ;
			}
			/*清除内外补白*/
			.clearMarginPadding{
				margin:0 ;
				padding:0 ;
			}
			/*聊天会话容器*/
			.chatCon{
				height: 350px ;
				padding:5px ;
				border-left: 1px solid #d4d3d2 ;
				overflow:scroll ;
			}
			/*发送聊天内容容器*/
			.sendChatCon{
				min-height: 100px;
				border:1px solid #d5d5e5 ;
			}
			/*使聊天内容靠右*/
			.sendConRight{
				display:flex ;
				justify-content:flex-end ;
			}
			/*发送消息*/
			.sendMsg{
				position:absolute;
				bottom:0 ;
				right:0 ;
			}
		</style>
   		 <!-- Custom Theme files -->
   		 <!---- start-smoth-scrolling---->
		<script type="text/javascript" src="__JS__/move-top.js"></script>
		<script type="text/javascript" src="__JS__/easing.js"></script>
		<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});
		</script>
		 <!---- start-smoth-scrolling---->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

		<!----start-top-nav-script---->
		<script>
			$(function() {
				var pull 		= $('#pull');
					menu 		= $('nav ul');
					menuHeight	= menu.height();
				$(pull).on('click', function(e) {
					e.preventDefault();
					menu.slideToggle();
				});
				$(window).resize(function(){
	        		var w = $(window).width();
	        		if(w > 320 && menu.is(':hidden')) {
	        			menu.removeAttr('style');
	        		}
	    		});
			});
		</script>
		<!----//End-top-nav-script---->
	</head>
	<body>
	<div id="myApp">
		<div>
			<!----- start-header---->
			<div id="home" class="header">
				<div class="top-header">
					<div class="container">
						<div class="logo">
							<a href="index.html"><span>去野</span>Journey<span>...</span></a>
						</div>
						<!----start-top-nav---->
						<nav class="top-nav" id="login-register">
							<ul class="top-nav">
								<li><a href="index.html">Our Story</a></li>
								<li><a href="menu.html">Menu</a></li>
								<li class="active"><a href="reservation.html">Reservations</a></li>
								<li><user-login></user-login></li>
								<li><user-register></user-register></li>
							</ul>
							<a href="#" id="pull"><img src="__STATIC__/images/nav-icon.png" title="menu" /></a>
						</nav>
						<div class="clearfix"> </div>
					</div>
				</div>
			</div>
			<!----- //End-header---->
			<!----- menu-page ----->
			<div class="reservation">
				<!------ menu-header ----->
				<!------ menuheader ----->
				<div class="clearfix"> </div>
				<div class="empty"></div>
				<!----- reservation ---->
				<div class="container" >
					<div class="col-sm-2">
					</div>
					<div class="col-sm-8">
						<div class="row" style="border:1px solid #999;" >
							<div class="row"></div>
							<div class="row clearMarginPadding">
								<div class="col-sm-3 hidden-sm hidden-xs reviews-people" style="" >
									<div v-for="(val,key) in chat_obj" >
										<img class="img_header_2" :src="val.chat_image" />{{val.chat_title}}
									</div>

								</div>
								<div class="col-sm-9  ">
									<div class="row chatCon " id="chat" >
										<div  v-for="(val,key) in chat_data">
											<div class="media"  v-if="val.chat_login!=login" >
												<div class="media-left media-middle ">
													<a class="reviews-people" href="#">
														<img class="img_header_2 media-object pull-left" :src="val.chat_image"  alt="...">
													</a>
												</div>
												<div class="media-body">
													<h4 class="media-heading">{{val.chat_title}}</h4>
													<br />
													<div>{{val.chat_con}}</div>
												</div>
											</div>
											<div class="media sendConRight"  v-else  >
												<div class="media-body">
													<h4 class="media-heading pull-right">{{val.chat_title}}</h4>
													<div class="clearfix"> </div>
													<br />
													<div class="">{{val.chat_con}}</div>
												</div>
												<div class="media-left media-middle ">
													<a class="reviews-people" href="#">
														<img class="img_header_2 media-object pull-left" :src="val.chat_image"  alt="...">
													</a>
												</div>
											</div>
										</div>

									</div>

									<div class="row" style="position:relative;">
										<div class="sendChatCon" contenteditable="true" id="message" >sad</div>
										<button class="btn btn-primary sendMsg" @click="sendMsg()" type="button"  >发送</button>
									</div>

								</div>
							</div>
						</div>

					</div>
					<div class="col-sm-2"></div>
				</div>

			</div>



			<!----- fearuted-diesh ----->
			<!----- End-Menu-page ----->
			<!----- footer ----->
			<div class="footer">
				<div class="container">
					<div class="footer-grids">
						<div class="col-md-3 footer-grid">
							<p>
								<span>关于我们</span>
								<span>关于去野</span>
								<span><a class="line" href="{:url('store/Application/storeEnter')}">商家入驻</a></span>
								<span>联系我们</span>
							</p>
						</div>
						<div class="col-md-3 footer-grid">
							<p>
								<span>China tourister</span>
								<span>68, rue  de la Couronne</span>
								<span>75002 PARIS</span>
								<span>718-749-1714</span>
							</p>
						</div>
						<div class="col-md-3 footer-grid">
							<ul>
								<span>友情链接</span>
								<li><a href="https://zh.airbnb.com">Airbnb爱彼迎</a></li>
								<li><a href="http://www.booking.com">缤客</a></li>
								<li><a href="http://www.mafengwo.cn/">马蜂窝</a></li>
							</ul>
						</div>
						<div class="col-md-3 footer-grid copy-right">
							<p>Copyright &copy; 2018.去野All rights reserved.</p>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
			</div>
			<!----- footer ----->
		</div>
		<!-- 模态框 -->
		<div class="modal fade" id="loginMsgModel" data-backdrop="static"  >
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="btn btn-default close" data-dismiss="modal" >
							<span class="glyphicon">×</span>
						</button>
						{{Msg_head}}
					</div>
					<div class="modal-body">
						{{Msg_body}}
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal" >退出</button>
						<a :href="Msg_footer_link" class="btn btn-default" >{{Msg_footer}}</a>
					</div>
				</div>
			</div>
		</div>
		<!--end 模态框 -->
	</div>




</body>
	<script type="text/javascript" src="__JS__/bootstrap.min.js"></script>
	<script type="text/javascript" src="__JS__/vue.min.js"></script>
	<script>
		/*
		 获取聊天对象
		 */
		var $chat_obj_url = "{:url('chat/chat/setChatTwo')}" ;

		/*
		 个人中心的url
		 */
		var $user_person_url = "{:url('user/Person/person')}" ;
		/*
		 登录页面的url
		 */
		var $login_jump = "{:url('user/Login/index')}" ;
		/*
		 注册页面的url
		 */
		var $register_jump = "{:url('user/Register/index')}" ;
		/*
		 是否已登录
		 */
		var $user_login_already = "{:url('user/Login/userLoginAlready')}" ;
		/*
		 退出登录的url
		 */
		var $user_login_out = "{:url('user/Login/outLogin')}" ;
		/*
		 聊天界面
		 */
		var $chat_url = "{:url('chat/Chat/index')}" ;

	</script>
	<script type="text/javascript" src="__JS__/user/chat.js"></script>
	<script type="text/javascript" src="__JS__/user/user_login.js"></script>
</html>

