<!DOCTYPE HTML>
<html>
	<head>
		<title>聊天</title>
		<link href="__CSS__/bootstrap.css" rel='stylesheet' type='text/css' />
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="__JS__/jquery.min.js"></script>
		 <!-- Custom Theme files -->
		<link href="__CSS__/style.css" rel='stylesheet' type='text/css' />
		<style type="text/css">
			.img_header{
				width:40px ;
				height:40px ;
			}
			.img_header_2{
				width:45px ;
				height:45px ;
			}
			.clearMarginPadding{
				margin:0 ;
				padding:0 ;
			}
		</style>
   		 <!-- Custom Theme files -->
   		 <!---- start-smoth-scrolling---->
		<script type="text/javascript" src="__JS__/move-top.js"></script>
		<script type="text/javascript" src="__JS__/easing.js"></script>
		<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});
		</script>
		 <!---- start-smoth-scrolling---->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

		<!----start-top-nav-script---->
		<script>
			$(function() {
				var pull 		= $('#pull');
					menu 		= $('nav ul');
					menuHeight	= menu.height();
				$(pull).on('click', function(e) {
					e.preventDefault();
					menu.slideToggle();
				});
				$(window).resize(function(){
	        		var w = $(window).width();
	        		if(w > 320 && menu.is(':hidden')) {
	        			menu.removeAttr('style');
	        		}
	    		});
			});
		</script>
		<!----//End-top-nav-script---->
	</head>
	<body>
	<div id="myApp">
		<div>
			<!----- start-header---->
			<div id="home" class="header">
				<div class="top-header">
					<div class="container">
						<div class="logo">
							<a href="index.html"><span>去野</span>Journey<span>...</span></a>
						</div>
						<!----start-top-nav---->
						<nav class="top-nav">
							<ul class="top-nav">
								<li class="active"><a href="index.html">首页home</a></li>
								<li><a href="menu.html">目的地locations</a></li>
								<li><a href="reservation.html">故事story</a></li>
								<li><a href="news.html"> 登录</a></li>
								<li><a href="reviews.html">注册</a></li>
							</ul>
							<a href="#" id="pull"><img src="__STATIC__/images/nav-icon.png" title="menu" /></a>
						</nav>
						<div class="clearfix"> </div>
					</div>
				</div>
			</div>
			<!----- //End-header---->
			<!----- menu-page ----->
			<div class="reservation">
				<!------ menu-header ----->
				<!------ menuheader ----->
				<div class="clearfix"> </div>
				<div class="empty"></div>
				<!----- reservation ---->
				<div class="container" >
					<div class="col-sm-2">
					</div>
					<div class="col-sm-8">
						<div class="row" style="border:1px solid #999;" >
							<div class="row"></div>
							<div class="row clearMarginPadding">
								<div class="col-sm-3 hidden-sm hidden-xs reviews-people" style="" >
									<img class="img_header_2" src="__STATIC__/images/g1.jpg" />用户名字
								</div>
								<div class="col-sm-9  ">
									<div class="row" style="min-height: 350px ;border-left: 1px solid #d4d3d2">
										<div class="media">
											<div class="media-left media-middle ">
												<a class="reviews-people" href="#">
													<img class="img_header_2 media-object pull-left" src="__STATIC__/images/g1.jpg"  alt="...">
												</a>
											</div>
											<div class="media-body">
												<h4 class="media-heading">聊天对象</h4>
												<br />
												<div>Middle aligned media</div>
											</div>
										</div>
										<div class="media" style="display:flex ;justify-content:flex-end;">
											<div class="media-body">
												<h4 class="media-heading pull-right">聊天对象</h4>
												<div class="clearfix"> </div>
												<br />
												<div class="">Middle aligned media</div>
											</div>
											<div class="media-left media-middle ">
												<a class="reviews-people" href="#">
													<img class="img_header_2 media-object pull-left" src="__STATIC__/images/g1.jpg"  alt="...">
												</a>
											</div>
										</div>
									</div>

									<div class="row" style="position:relative;">
										<div style="min-height: 100px;border:1px solid #d5d5e5 ;" contenteditable="true" >sad</div>
										<button class="btn btn-primary" type="button" style="position:absolute;bottom:0 ;right:0 ;" >发送</button>
									</div>

								</div>
							</div>
						</div>

					</div>
					<div class="col-sm-2"></div>
				</div>

			</div>



			<!----- fearuted-diesh ----->
			<!----- End-Menu-page ----->
			<!----- footer ----->
			<div class="footer">
				<div class="container">
					<div class="footer-grids">
						<div class="col-md-3 footer-grid">
							<p>
								<span>New York tourister</span>
								<span>3926 Anmoore Road</span>
								<span>New York, NY 10014</span>
								<span>718-749-1714</span>
							</p>
						</div>
						<div class="col-md-3 footer-grid">
							<p>
								<span>France tourister</span>
								<span>68, rue  de la Couronne</span>
								<span>75002 PARIS</span>
								<span>02.94.23.69.56</span>
							</p>
						</div>
						<div class="col-md-3 footer-grid">
							<ul>
								<li><a href="#">Blog</a></li>
								<li><a href="#">Careers</a></li>
								<li><a href="#">Privacy Policy</a></li>
								<li><a href="contact.html">Contact</a></li>
							</ul>
						</div>
						<div class="col-md-3 footer-grid copy-right">
							<p>Copyright &copy; 2014.Company name All rights reserved.<a target="_blank" href="http://h2design.taobao.com/">氢设计</a></p>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
			</div>
			<!----- footer ----->
		</div>
		<!-- 模态框 -->
		<div class="modal fade" id="loginMsgModel" data-backdrop="static"  >
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="btn btn-default close" data-dismiss="modal" >
							<span class="glyphicon">×</span>
						</button>
						{{Msg_head}}
					</div>
					<div class="modal-body">
						{{Msg_body}}
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal" >退出</button>
						<a :href="Msg_footer_link" class="btn btn-default" >{{Msg_footer}}</a>
					</div>
				</div>
			</div>
		</div>
		<!--end 模态框 -->
	</div>



	
</body>
	<script type="text/javascript" src="__JS__/bootstrap.min.js"></script>
	<script type="text/javascript" src="__JS__/vue.min.js"></script>
	<script>

	</script>
<script>
	$('.carousel').carousel({
		interval: 5000 // in milliseconds
	}) ;
	$(".modal-backdrop").remove() ;
//	$("#loginMsgModel").modal('show') ;
	var app = new Vue({
		el:"#myApp" ,
		data: {
			Msg_head:'登录' ,
			Msg_body:'登录成功' ,
			Msg_footer:'确认' ,
			Msg_footer_link:'#' ,
			msg_footer_button_exit:'loginMsgModel_exit' ,
			chat_one:'' ,
			chat_two:''

		} ,
		methods: {

		} ,
		mounted:function(){
			/*
				获取聊天记录
			*/
			var ws = new WebSocket( "ws://localhost:8888" ) ;
			ws.onopen = function()
			{
				ws.send( sendData( 'use' ,'server' ,'ss' ,'hello' ) ) ;
			} ;
			ws.onmessage = function( result )
			{
				var msgObj = JSON.parse( result.data ) ;
				switch( msgObj.type )
				{
					case "ss":
						console.log('客户端接收的消息',msgObj) ;
						break;
				}
			} ;

		}
	}) ;

	function sendData( sender ,rever ,type ,content )
	{
		if( !sender )
		{
			console.log( "客户端错误的发送者" ,sender );
		}
		if( !rever )
		{
			console.log( "客户端错误的发送者" ,rever );
		}
		if( !type )
		{
			console.log( "客户端错误的发送者" ,type );
		}
		if( !content )
		{
			console.log( "客户端错误的发送者" ,content );
		}
		var msg = JSON.stringify( {
			sender:sender,
			rever:rever,
			type:type,
			content:content,
			msgtime:( new Date() ).getTime()
		});
		console.log( "客户端发送的消息" ,msg );
		return msg;
	}



</script>
</html>

